body {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;

}
.login_box {

    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.icon {

    width: 200px;

}

.login_box h2 {

    width: 300px;
    text-align: left;
    font-size: 25px;
    margin: 0 0 30px;
    padding: 0;
    color: var(--third-color);

}

.login_box .user_box {

    position: relative;

}

.login_box form {

    display: flex;
    flex-direction: column;
    align-items: center;    
    
}

.login_box .user_box input {

    width: 75vw;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;

}

.login_box form button {

    width: 75vw;
    height: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;

}

.forgotPassword {

    font-size: 15px;
    width: 75vw;;
    text-align: left;
    color: gray;
    text-decoration: none;

}
.login_box form p {

    margin-top: 20px;

}
.dontHaveAcc {

    color: var(--acent-color);
    text-decoration: none;

}