.login_box {
  width: 100%;
  height: 100vh;
  padding: 7% 25%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.icon {
  width: 150px;
}

.login_box .user_box {
  position: relative;
}

.login_box form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.login_box form h2 {
  font-size: 3rem;
}

.login_box .user_box input {
  min-width: 25vw;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
  backdrop-filter: blur(2px);
}

.loginButton {
  width: 100px;
  height: 50px;
  margin-left: 12.5%;
  margin-top: 20px;
  background-color: var(--acent-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.forgotPassword {
  font-size: 15px;
  width: 75vw;
  text-align: left;
  color: gray;
  text-decoration: none;
}

.login_box form p {
  width: 25vw;
  margin-top: 20px;
  text-align: center;
  color: gray;
}

.dontHaveAcc {
  color: var(--acent-color);
  text-decoration: none;
}
