button {

    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    outline: none;
    text-decoration: none;
    border: none;
    background-color: var(--acent-color);

}