.contentWrapper {
  max-width: 95%;
  margin: auto;
  gap: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricingTexts {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pricingTexts h1 {
  font-size: 4em;
  margin-bottom: 20px;
}
.pricingTexts p {
  font-size: 1.5em;
  color: #555;
}
.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card {
  width: 20%;
  aspect-ratio: 1/1.5;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.cardTitle {
  width: 90%;
}
.card ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: rgb(118, 118, 118);
}
.signupButton button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.signupButton {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .cardWrapper {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    margin-bottom: 30px;
  }
}