main {
  margin-top: 2%;
}

.contentWrapper {
  max-width: 100%;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricingTexts {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pricingTexts h1 {
  font-size: 3em;
  animation: appearUp 1s ease-in-out;
}
.pricingTexts p {
  font-size: 1.5em;
  color: #555;
  animation: appearLeft 1s ease-in-out;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  animation: appearDown 1s ease-in-out;
  position: relative;
}
.cardWrapper > *:nth-child(1) {
  animation-delay: 0.2s;
}
.cardWrapper > *:nth-child(2) {
  animation-delay: 0.4s;
}
.cardWrapper > *:nth-child(3) {
  animation-delay: 0.6s;
}
.cardWrapper > * {
  opacity: 0;
  animation: appearDown 1s ease forwards;
}

.card {
  width: 300px;
  aspect-ratio: 1/1.5;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.cardTitle {
  width: 90%;
}
.card ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: rgb(118, 118, 118);
}

.premiumCard {
  width: 20%;
  aspect-ratio: 1/1.5;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: relative;
}
.premiumCard::before,
.premiumCard::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: conic-gradient(
    from var(--angle) at center,
    #00c3ff,
    #4d0199,
    #6300c6,
    #00c3ff
  );
  z-index: -1;
}
.premiumCard::after {
  filter: blur(10px);
}


.signupButton button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.signupButton {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    margin-bottom: 30px;
  }
}

@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearPop {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin {
  to {
    --angle: 360deg;
  }
}
