.container {

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
    align-items: center;

}

.card {

    width: 350px;
    height: 350px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    border: 1px solid var(--acent-color);

}

@media (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    
}