header {
  width: 100%;
  box-shadow: 0px 0px 24px 0px rgb(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}
.contentWrapper {
  max-width: 95%;
  height: 85px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.phoneHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerIcon {
  width: auto;
  height: 65px;
  align-items: center;
}
.linkWrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}
img {
  width: 85px;  
}
.navLink {
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
}.navLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--acent-color);
  transition: width 0.3s;
}
.navLink:hover::after {
  width: 100%;
}
.navLink:hover {
  color: var(--acent-color);
}
.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.loginButton {
  background-color: initial;
  border: none;
  font-size: 1.2em;
  color: gray;
  cursor: pointer;
}
.loginButton:hover {
  color: darkgrey;  
}
.regButton {
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px;
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.burgerBar {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contentWrapper {
    width: 100%;
    height: auto;
    
  }
  .phoneHeader {
    width: 100%;
    height: 85px;
  }
  .linkWrapper, .buttonWrapper {
    display: none;
  }
  .burgerBar {
    display: flex;
    margin-left: 20px;
  }
  .burgerBar i {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }
  .activeBar i:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6.5px);
  }
  .activeBar i:nth-child(2) {
    opacity: 0;
  }
  .activeBar i:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6.5px);
  }
  .showLinks, .navLink{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
  }
  .showButtons {
    display: block;
    margin: 15px 0;
  }
  .loginButton, .regButton {
    font-size: 1em;
    padding: 8px;
  }
}