header {
    width: 100%;
    box-shadow: 0px 0px 24px 0px rgb(0, 0, 0, 0.3);
}
.contentWrapper {
    max-width: 80%;
    height: 85px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.linkWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}
img {
    width: 85px;
}
.navLink {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}
.navLink:hover {
    color: var(--first-color);
}
.buttonWrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}
.loginButton {
    background-color: initial;
    border: none;
    font-size: 1.2em;
    color: gray;
    cursor: pointer;
}
.loginButton:hover {
    color: darkgrey;
}
.regButton {
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
    color: white;
    background-color: var(--second-color);
    cursor: pointer;
}
