.container {
  width: 100vw;
}

.start {
  width: 80%;
  margin-left: 10%;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  font-size: 2rem;
  color: #333;
  padding: 1% 5%;
  gap: 10%;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 1rem;
}
.title {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  animation: appearRight 1s ease-in-out;
}
.cards p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: start;
  animation: appearDown 1s ease-in-out;
}
.icon {
  width: 20vw;
  height: auto;
  animation: appearLeft 1s ease-in-out;
}

.sponsors {
  width: 100%;
  height: 50vh;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  color: var(--acent-color);
  font-size: 2rem;
  background-color: var(--acent-color);
}
.sponsors h1 {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  text-shadow: 
    2px 2px 4px black,
    -1px -1px 1px white;
}
.sponsorLogos {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0; /* Remove gap for overlap */
  position: relative;
}
.sponsorLogos img {
  width: 7vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: -3vw;
  border: 3px solid #fff;
}
.sponsorLogos img:first-child {
  margin-left: 0;
  animation: appear 1s ease-in-out;
  animation-timeline: view();
  animation-range: onentry 0;
}

section {
  height: 100vh;
  display: flex;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.loginButton {
  background-color: initial;
  border: none;
  font-size: 1.2em;
  color: gray;
  cursor: pointer;
  animation: appearDown 1s ease-in-out;
}
.loginButton:hover {
  color: var(--acent-color);
}

.registButton {
  width: 135px;
  height: 50px;
  position: relative;
  z-index: 1;
  font-size: 2rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  color: var(--acent-color);
  border: 2px solid var(--acent-color);
  background-color: transparent;
  transition: color 0.5s;
  animation: appearDown 1s ease-in-out;
}
.registButton::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background: var(--acent-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  z-index: 0;
}
.registButton span {
  position: relative;
  z-index: 1; /* Above the ::before fill */
  transition: color 0.5s;
}
.registButton:hover {
  color: white;
}
.registButton:hover::before {
  width: 125%;
  height: 300%;
}

@media (max-width: 768px) {
  .start {
    align-items: center;
    flex-direction: column;
  }
  .icon {
    width: 35vw;
  }
}

.testBox {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.testBox::before,
.testBox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(
    from var(--angle) at center,
    #00c3ff,
    #4d0199,
    #6300c6,
    #00c3ff
  );
  border-radius: inherit;
  padding: 2px;
  z-index: -1;
  /* animation: spin 4s linear infinite; */
}
.testBox::after {
  filter: blur(10px);
}